%h1
  API: Timestamp microservice
  
%h3
  Example usage:
%p(style="color:red")
  http://timestamp.ollis.me/January%201,%202016
  %br
  http://timestamp.ollis.me/1450137600

%h3
  Example output:
%p(style='color:red')
  {"unix":"1451624400","natural":"January  1, 2016"}
%p
  will return null if invalid
  